*.log
**/logs
data/
results/
.snakemake/
.tmp/
.java/
.conda/
.cache/
docker-image/
docker-img-alpine/
original/
mleprae-genomics.sif
output_test_all-positions.txt
output_test_MERGED_all-positions.txt
output_test_MERGED_only-informative-sites.txt
output_test_MERGED_only-informative-sites_plus_LPM.fasta
original_output.txt
